{
  "extends": "../../.eslintrc",
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-empty-interface": "off"
  },
  "ignorePatterns": ["!**/*"]
}
