.detail-box {
  background-color: #fff;
  border-radius: 4px;
  padding: 32px;
  .info {
    display: flex;
    .image-container {
      width: 680px;
      display: flex;
      justify-content: center;
      img {
        max-width: 680px;
        max-height: 680px;
      }
    }
    .shop-container {
      width: 37%;
      .condition {
        font-size: 14px;
        color: #666666
      }
      .title {
        font-size: 24px;
        margin: 8px auto auto;
      }
      .price {
        font-size: 46px;
        margin: 32px auto;
      }
    }
  }
  .description {
    width: 680px;
    .title {
      font-size: 28px;
      margin: 32px auto;
    }
    .detail {
      font-size: 16px;
      margin: inherit;
      color: #999999;
    }
  }
}
